.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  width: 100%;
  height: 50px;
  background-color: rgb(206, 98, 21);
}

.header nav {
  display: flex;
  gap: 15px;
}

.header a {
  color: white;
}

.header a:hover {
  text-decoration: underline;
}

.linkActive {
  text-decoration: underline;
}

.main {
  /* flex: 1; */
  flex: auto;
  width: 100%;
  background-color: rgb(179, 255, 230);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: darkgray;

}


.columns {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
}

.column {
  width: 200px;
  margin: 0 20px;
}

h4 {
  color: red;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.linkActive {
  font-weight: bold;
  color: blue;
}